.skill-frontend {
  /* background: var(--color-bg-variant); */
  padding: 2rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  border-color: var(--color-primary);
  cursor: default;
}

.skill-frontend h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.skill-content {
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.skill-details {
  display: flex;
  gap: 1rem;

}

.skill-content-icon2 {
  margin-top: 1rem;
  transform: scale(2);
}

/* ====================MEDIA QUERIES (MEDIUM DEVICES)============================= */
@media screen and (max-width:1024px) {
  .skill-frontend {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skill-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skill-content {
    padding: 0 0 1rem 2rem;
  }
}

/* ====================MEDIA QUERIES (SMALL DEVICES/phones)============================= */
@media screen and (max-width:600px) {
  .skill-frontend {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }

  .skill-content {
    grid-template-columns: 1fr 1fr;
    padding: 0 0 1rem 1.7rem;
    margin: 0 auto;
  }
}